body {
    font-family: 'Roboto';
}

.navigation {
    width: 100%; 
    display: inline-flex;
    justify-content: flex-start;
    box-shadow: 0px 5px 10px black;
}

.navigation__globe-img {
    width: 60px;
    height: 60px;
    margin-top: 14px;
    margin-left: 144px;
    margin-bottom: 14px;
}

.navigation__list {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 716px;
}

.navigation__link {
    list-style: none;
    margin-right: 53px;
    font-weight: 400;
    font-size: 24px;
}

.navigation__link>a {
    text-decoration: none;
}

.red>a {
    color: red;
}

.red>a:hover {
    background-color: red;
    color: black;
}

.blue>a {
    color: blue;
}

.blue>a:hover {
    background-color: blue;
    color: black;
}

.yellow>a {
    color: yellow;
}

.yellow>a:hover {
    background-color: yellow;
    color: black;
}

.green>a {
    color: green;
}

.green>a:hover {
    background-color: green;
    color: black;
}

.main {
    width: 100%;
    height: 643px;
    background: linear-gradient(#034078, #2F9EBC, #A0EAFF);
    display: flex;
    justify-content: center;
}

.main__box {
    margin-top: 91px;
    text-align: center;
}

.main__box__title {
    font-size: 64px;
    font-weight: 400;
    color: white;
}

.heart {
    font-size: 42px;
    margin-left: 17px;
    margin-right: 17px;
}

.main__box__text {
    width: 466px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 37px;
    color: #F8F8F8;
}

.main__box__button {
    width: 186px;
    height: 39px;
    border-radius: 20px;
    border: none;
    background-color: #878787;
    color: #F8F8F8;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.582);
}

.main__box__button:hover {
    text-decoration: underline;
    background-color: slateblue;
}

.main__box--bottom {
    width: 100%;
    height: 257px;
    background-color: #F8F8F8;
}

.card {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}

.card__box {
    width: 224px;
    height: 278px;
    background-color: white;
    margin-left: 141px;
    text-align: center;
    position: relative;
    top: -400px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.582);
}

.card__img {
    height: 80px;
    margin-top: 32px;
}

.card__title {
    font-size: 24px;
    font-weight: 500;
    margin-top: 25px;
}

.card__text {
    font-size: 14px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 20px;
    margin-left: 27px;
    margin-right: 27px;
}
